.pagination-parent {
  @apply flex
    flex-row
    gap-2;
}

.pagination-input {
  @apply w-12
  text-justify
  justify-center
  border-2
  appearance-none;
  text-align: center;
}

.pagination-btn {
  @apply border-2
  w-12
  text-center
  justify-center
  bg-slate-200
  cursor-pointer
  p-1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
