.search-parent {
  @apply w-full
  flex
  flex-row
  justify-center
  align-middle;
}

.search-btn {
  @apply h-8
  bg-white 
  font-bold 
  rounded-none
  sm:rounded-l-lg 
  py-1 px-4 
  shadow-lg
  my-4
  border-r-2 border-slate-300
  text-center
  text-slate-600
  uppercase;
}

.search-input {
  @apply w-5/6
  sm:w-1/2
  h-8
  py-2 px-2
  shadow-lg
  rounded-none
  sm:rounded-r-lg
  my-4
  focus:outline-0;
}
